@model Publisher

@{
    ViewBag.Title = "Добави ново издателство";
    var buttonName = "Добави";

    @if (@ViewBag.RecordId != null)
    { 
        buttonName = "Редакция";
        ViewBag.Title = "Редакция на издателство";
    }
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-7 px-md-5 align-self-start">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <textarea class="form-control" asp-for="Name" rows="1"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@buttonName</button>
        </form>
    </div>
</div>